{% extends 'core/base.html' %}

{% block header %}
    Vista en detalle de Clientes
{% endblock header %}

{% block main %}
    <ul>
        <li>
            <strong>Apellido:</strong> {{ object.apellido }}
        </li>
        <li>
            <strong>Nombre:</strong> {{ object.nombre }}
        </li>
        <li>
            <strong>Fecha de nacimiento:</strong> {{ object.nacimiento }}
        </li>
        <li>
            <strong>País:</strong> {{ object.pais_origen_id }}
        </li>
    </ul>
    {% include 'clientes/partials/volver_cliente.html' %}
{% endblock main %}
